body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  overflow-x: hidden;
  /* margin: 0px;
  padding: 0px; */
  box-sizing: border-box;

}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#start {
  font-size: 35px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 248px;
}

#img1 {
  background-color: black;
  border-radius: 10px;
}

nav {
  background-color: #2F0C73;
  color: #ffffff;

  padding: 45px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  border: 1px solid black;

}



nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  font-size: 22px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #EDE9FF;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover {
  color: #00bfff;
}


.middle {
  display: flex;
  justify-content: space-between;
  background-color: #F5F7FF;
  color: #1F2937;
}

.leftside {
  align-content: center;
  height: 550px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.left {
  height: 350px;
  width: 87%;
  transition: transform 0.6s ease, background-color 0.6s ease;
  transform-origin: center;
  padding: 15px;
  background-color: #FFFFFF;
  color: #1F2937;
  border: 1px solid #E5E7EB;

  text-align: center;
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 20px;

}

.rightside {
  height: 550px;
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: center;

}

.right img {
  border-radius: 30px;

}



#name {
  font-weight: 800;
  font-size: 30px;
  color: #4F46E5;
}

.left h2 {
  font-size: 26px;
  margin-bottom: 63px;
}


.txt3 {
  position: relative;
  left: 55px;
  font-size: 27px;
}

#skills {
  color: #4338CA;
}


@keyframes fadein {
  from {
    left: 0px;
  }

  to {
    left: 100px;
  }
}

@keyframes bigger {
  from {
    left: 0px;
  }

  to {
    left: 80px;
  }
}



.left:hover {
  transform: scale(0.9, 1.3);

}

#role {
  position: relative;
  animation: fadein 2s ease-in-out 0s infinite;
  font-size: 30px;
}

.rightside:hover {
  position: relative;
  animation: bigger 3s ease 0.2s infinite;
}


#rtimage {
  animation: none;
}

#role2 {
  position: relative;
  left: 20px;
}

#themechange {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  font-weight: 700;
  background-color: #ffffff;
  color: black;
  border: 2px solid #2F0C73;
  font-size: 15px;
  cursor: pointer;
  border: none;
}


.theme {
  height: 48px;
  width: 120px;
  border-radius: 13px;
}



#resume1 {
  height: 52px;
  width: 110px;
  border-radius: 13px;
  border: none;
  background-color: #4F46E5;
  color: #ffffff;
}


#resume1:hover {
  height: 57px;
  width: 112px;
  background-color: #4338CA;

}


#resume1 a {
  text-decoration: none;
  color: white;
}


.theme:hover {
  height: 52px;
  width: 123px;
}


.cv:hover {
  height: 53px;
  width: 120px;
}


#nav ul li:hover {
  font-size: 23px;
}


#about {
  height: auto;
  width: 100%;
  background-color: #4097b1;
}


.aboutheading {
  height: 90px;
  width: 100%;
  background-color: #e6e7ec;
  color: #2F0C73;
  display: flex;
  align-items: center;
  align-content: center;
  border: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}


#aboutheading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 33px;
  margin-left: 70px;
}


.aboutheading img {
  border-radius: 17px;
  margin-left: 10px;
  border: 1px solid black;
}


#about p {
  font-size: 25px;
}


.headings {
  background-color: #ffffff;
  color: #1f2937;
  height: 550px;
  width: 100%;
}


.headings p {
  margin-left: 30px;
  margin-right: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 28px;
}


#resume:hover {
  background-color: #4338CA;
}


#resume {
  height: 52px;
  width: 170px;
  border-radius: 13px;
  background-color: #4F46E5;
  color: #ffffff;
  border: none;
}


#resume a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}


.resumesection {
  padding-bottom: 25px;
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


#skillssection {
  height: 740px;
  width: 100%;
}


.skillsheading {
  border: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 93px;
  width: 100%;
  background-color: #e6e7ec;
  display: flex;
  align-items: center;
}


.skillsheading img {
  border-radius: 15px;
  margin-left: 5px;
}


#skillsname {
  color: #2F0C73;
  font-size: 33px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}


.skillsmentioned {
  height: auto;
  width: 100%;
  background-color: #F5F7FF;
  display: grid;
  padding: 3rem;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);

}


.box {
  max-width: 600px;
  max-height: auto;
  background-color: #ffffff;
  color: #1f2937;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border: 1px solid black;
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  padding: 15px;
  border-radius: 18px;
}


#items1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 27px;
}


#items2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 27px;
}


#items3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 27px;
}


#items4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 27px;
}


.box ul li {
  font-size: 22px;
}


#frontend {
  color: rgb(3, 3, 94);
}


#programming {
  color: rgb(130, 72, 2);
}


#tools {
  color: rgb(92, 3, 92);
}


#core {
  color: rgb(3, 78, 3);
}


.container4 {
  height: auto;
  width: 100%;
  background-color: #d05252;
}


.projectsection {
  height: 120px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e7ec;
  color: #2d1263;
  border: none;
}


.projectsection #projects {
  font-size: 37px;
  font-weight: 700;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}


.projects #bestworks {
  width: 100%;
  height: 30px;
  color: #0f0f0f;
}


.bestworks {
  width: 100%;
}


#bestworks {
  font-size: 19px;
  color: #0f0f0f;
}


.projectdiv {
  height: auto;
  width: 100%;
  background-color: #F5F7FF;
  display: grid;
  padding: 3rem;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}


.box1 {
  height: auto;
  width: 600px;
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 18px;
  color: #1f2937;
  padding: 23px;
  transition: transform 0.6s ease;
}


#foodprojectimage {
  border-radius: 12px;
  border: 1px solid black;
}


.foodprojectimage {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  height: 230px;
}


.content1 {
  margin-left: 50px;
  color: black;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}


.buttons1 {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
  margin-top: 20px;
}


#button1 {
  width: auto;
  border-radius: 10px;
  border: none;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 15px;
  padding: 17px;
}


#button1:hover {
  background-color: rgb(7, 7, 201);
  color: white;
  cursor: pointer;
}


#button2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 14px;
  background-color: #0f0f0f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  gap: 15px;
  padding: 17px;
}


#button2:hover {
  background-color: rgb(7, 7, 201);
  color: white;
  cursor: pointer;
}


#imgs {
  border-radius: 17px;
}


.box1:hover {
  width: 630px;
  transform: scaleX(1.1);
}


.contact {
  height: 700px;
  width: 100%;
  background-color: #e6e7ec;
  display: flex;
  justify-content: center;
  align-items: center;

}


.contactpage {
  height: 600px;
  width: 900px;
  background-color: #fff;
  /* border: 1px solid black; */
  border-radius: 20px;
}


.contactheading {
  height: 90px;
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #2d1263;
}


.contactline {
  height: 50px;
  width: 100%;
  background-color: #1a1919;
  padding: 30px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
}


.middlearea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 449px;
  width: 100%;
  background-color: #eccccc;
  padding-left: 14px;
  padding-right: 14px;
}

#downloadimage {
  border-radius: 20px;
}

.detailsarea {
  height: auto;
  width: 400px;
  border-radius: 20px;
}

#emailname,
#number,
#address {
  border-bottom: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  font-size: 19px;
}

#detailslist {
  list-style-type: none;
}

#detailslist img {
  border-radius: 17px;
}

.icons {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 23px;
}

#resume11 {
  border-radius: 20px;
  border: none;
}

.icons img {
  border-radius: 20px;
  display: flex;
}

.icons img:hover {
  border: 2px solid blue;
}


.formarea form {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 400px;
  border-radius: 20px;
  background-color: #1a1919;
  padding: 19px;
}


.formarea form input {
  height: 70px;
  padding: 15px;
  width: 100%;
  font-size: 21px;
  border-radius: 10px;
  height: 45px;
  margin-top: 10px;
}


.formarea form textarea {
  height: 100%;
  font-size: 14px;
  padding: 12px;
  border: none;
  width: auto;
  border-radius: 17px;
  margin-top: 10px;
  margin-bottom: 12px;
}


.formarea form textarea::placeholder {
  font-size: 20px;
  text-align: center;
}


.formarea form input::placeholder {
  text-align: center;
  font-size: 18px;
}

.sendbtn {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sendmsg {
  height: 40px;
  width: 110px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  height: 50px;
}